* {
    box-sizing: border-box;
}

html {
    font-size: 22px;
}

body {
    background-color: #d1d0d0;
    width: 90%;
    margin: .7rem auto;
}

header {
    padding: 0;
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid gray;
    
}



header h1 {
    font-family: "IBM Plex Serif", serif;
    font-weight: 700;
    width: 84%;
    text-align: center;
    color: #003477;
    text-shadow: 3px 3px 5px #0c4b00;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

main {
    padding-top: 1rem;
    width: 80%;
    margin: auto;
    text-align: center;
}

p {
    font-weight: 500;
    font-size: 1.1rem;
}

.toEncryptMsg, .toDecryptMsg {
    font-size: 1rem;
}



.encryptBtn, .decryptBtn {
    padding: .5rem 2rem;
    font-weight: 700;
    letter-spacing: 3px;
    color: #420000;
    margin: 3px auto;
    box-shadow: -1px 2px 0;
    width: 100%;
    max-width: 400px;
    background-color: #e3e4f0;
    font-size: 1rem;
}

.encryptBtn:hover {
    background-color: #c5c5cf;
}

.decryptBtn:hover {
    background-color: #c5c5cf;
} 

.encryptBtn:active {
    margin: 0px auto;
    box-shadow: none;
    width: 100%;
    max-width: 400px;
    margin-bottom: 6px;
    background-color: #adadb9;
}

.decryptBtn:active {
    margin: 0px auto;
    box-shadow: none;
    width: 100%;
    max-width: 400px;
    margin-bottom: 6px;
    background-color: #adadb9;
}


footer {
    border-top: 14px solid transparent;
    border-image: url(./images/heart.svg) 30% round;
    font-size: .8rem;
    text-align: center;
    padding: .6rem;
    text-shadow: 2px 2px 5px #4200008c;
}

